click==8.0.3
colorama==0.4.4
deepdish==0.3.7
Flask==2.0.2
gunicorn==20.0.4
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
numexpr==2.7.3
numpy==1.21.3
opencv-python==4.5.4.58
opencv-python-headless==4.5.4.58
pafy==0.5.5
scipy==1.7.1
tables==3.6.1
Werkzeug==2.0.2
